.optionContainer {
  background-color: #111;
  padding: 16px;
  height: 100%;
}

.article {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 16px 0;
  border-bottom: 0.5px solid #444;
}
.article:last-child {
  border: 0;
}
.total {
  color: white;
  padding: 16px 0;
  text-align: right;
}
