.main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  color: white;
  flex-grow: 1;
}

.horlogeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  height: 100%;
}

.chronoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .chronoValue {
    margin-bottom: 32px;
  }

.menuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 0;
  border-top: 0.5px solid #444;
  background-color: #191919;
}
  .menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
    .menuLabel {
      color: white;
      font-size: 12px;
      text-align: center;
      margin-top: 8px;
    }
    .menuLabel.selected {
      color: darkorange;
    }
