.pubContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #111;
  color: white;
  position: relative;
}

.pubContainer span {
  z-index: 2;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
