.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}

.modalContent {
  background: white;
  padding: 32px 16px;
  width: 40%;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
