.counterContainer {
  background-color: #111;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.counter {
  color: white;
  font-size: 36px;
}
